<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SortPictures.Properties.SortPictures" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SortPictures.Properties.SortPictures>
            <setting name="ExtensionsToSort" serializeAs="String">
                <value>.jpg, .mov, .mp4, .avi, .m2ts</value>
            </setting>
        </SortPictures.Properties.SortPictures>
    </applicationSettings>
</configuration>